/* Custom scrollbar */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #E31E24;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #B71519;
}

/* Smooth scroll */
html {
  scroll-behavior: smooth;
}
