@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom scrollbar */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #E31E24;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #B71519;
}

/* Smooth scroll */
html {
  scroll-behavior: smooth;
}

@layer base {
  body {
    @apply font-sans antialiased;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-serif;
  }
}

@layer utilities {
  .text-gradient {
    @apply bg-gradient-to-r from-primary-red to-red-600 bg-clip-text text-transparent;
  }
}